
body {
  background: #353433;
  margin: 0;
  padding: 0;
}

.stage {
  position: relative;
  width: 800px;
  height: 600px;
  background: #000;
  margin: 0px auto;
  overflow: hidden;
}


.touch-button {
  position: absolute;
  background: #252423;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #8b8685;
  top: 600px;
  bottom: 16.67%;
  z-index: 2;
}
.touch-button-3 {
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: auto !important;
  z-index: 1;
}
.touch-button > div {
  background: #454443;
  position: absolute;
  -webkit-transform: translate3d(0,0,0);
  top: 0; right: 0; bottom: 0; left: 0;
}
canvas {
  display: block;
}


.main-view {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0 0;
  color: #e9e8e7;
  background: #252423;
  font-family: "Computer Modern Serif";
  font-size: 18px;
}
.main-view h1 {
  color: #8b8685;
  text-align: center;
}
.about-p {
  text-align: center;
}
.main-view a {
  color: #8b8685;
}

.tabs {
  overflow: hidden;
  box-shadow: inset 0 -1px 0 #454443;
}
.tabs a {
  float: left;
  display: block;
  padding: 0 10px;
  margin: 0 0 0 4px;
  line-height: 30px;
  height: 30px;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: 0;
  position: relative;
  top: 1px;
}
.tabs a.active {
  background: #090807;
  border: 1px solid #454443;
  border-bottom: 0;
}
.tab-contents {
  background: #090807;
  padding: 1px 0;
}
.padding {
  padding: 0 10px;
}

.ipad-tips {
  margin: 16px 24px;
  border: 1px solid #454443;
}


.game-table {
  border-collapse: collapse;
  width: 100%;
}
.game-table td {
  border: 1px solid #353433;
  border-width: 1px 0;
  padding: 2px 10px;
}


.footer {
  font-size: 13px;
  text-align: center;
  padding: 10px;
  color: #8b8685;
}

pre {
  white-space: pre-wrap;
  font: 14px Computer Modern Typewriter, sans-serif;
}
.error {
  background: #452423;
  border: 1px solid #654443;
  border-width: 1px 0;
  padding: 10px;
}
.error strong {
  color: #fca;
}


.genre {
  color: #8b8685;
  font-size: 80%;
}
.loading {
  background: #252443;
  border: 1px solid #454463;
  border-width: 1px 0;
  padding: 10px;
  text-align: center;
}
td.levels {
  text-align: center;
}
span.level {
  background: #151413;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #353433;
  font: 15px Computer Modern Typewriter, sans-serif;
  vertical-align: middle;
  margin-right: 3px;
  padding: 0 2px;
}
.music-row {
  cursor: pointer;
}

a.song-title {
  color: #e9e8e7;
  text-decoration: none;
}
blockquote {
  margin: 1em 0;
  padding: 1em;
  background: #252423;
  border: 1px dashed #454443;
}
.music-description {
  border-top: 1px solid #454443;
  padding-top: 5px;
  text-align: center;
  color: #8b8685;
  background: rgb(53,52,51); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(53,52,51,1) 0%, rgba(9,8,7,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,52,51,1)), color-stop(100%,rgba(9,8,7,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(53,52,51,1) 0%,rgba(9,8,7,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(53,52,51,1) 0%,rgba(9,8,7,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(53,52,51,1) 0%,rgba(9,8,7,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(53,52,51,1) 0%,rgba(9,8,7,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353433', endColorstr='#090807',GradientType=0 ); /* IE6-9 */
}

h2 .genre {
  background: #454443;
  padding: 2px 4px;
  font-size: 16px;
  border-radius: 4px;
  color: #e9e8e7;
}


